DATABASE_URL=
NEXI_API_KEY=
NEXI_EXPLICIT_API_KEY=
NEXI_API_URL=https://xpay.nexigroup.com/api/phoenix-0.0/psp/api/v1
NEXI_ENVIRONMENT=production
RESEND_API_KEY=
CLOUD_ID=
REFRESH_TOKEN=
INVOICE_SECRET=
ADMIN_SESSION_SECRET=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
LECTOR_USERNAME=lektor
LECTOR_PASSWORD=
