@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes pulse-scale {
    0%, 50% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.12);
    }
}

.animate-pulse-scale {
    animation: pulse-scale 2.0s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}